body, html {
	margin: 0;
	font-family: "Montserrat Alternates";
}

a {
	outline: black;
}

.nav-link-right {
    text-align: right;
}

.navbar-container {
	text-align: center;
	background-color: transparent;
	box-shadow: 0px -20px 5px 20px transparent;
	padding: 10px;
	font-size: 0;
}

.navbar-container ul {
	margin: 0;
	padding: 0;
	text-align: right;
	display: inline-block;
	vertical-align: middle;
}

.navbar-container ul li {
	display: inline-block;
	font-size: 48px;
}

.navbar-container ul li a { 
	
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	-moz-background-clip: text;
	-moz-text-fill-color: transparent;
	text-decoration: none;
	display: inline-block;	
	padding: 10px;
	transition: color 0.5s;
}

.navbar-container ul li .underline {
	height: 3px;
	background-color: transparent;
	width: 0%;
	transition: width .35s, background-color 0.5s;
	margin: 0 auto;
}

.navbar-container ul li.active-link .underline {
	width: 100%;
	background-color: black;
}

.navbar-container ul li:hover .underline {
	background-color: gray;
	width: 100%;
}

.navbar-container ul li:hover a {
}

.navbar-container ul li:active a {
	transition: none;
	color: rgba(255,255,255,0.76);
}

.navbar-container ul li:active .underline {
	transition: none;
	background-color: rgba(255,255,255,0.76);
}

.p {
    text-align: center;
}

.top-bar {
    background-image: linear-gradient(to right, #232526, #414345);
    height: 45px;
    padding: .5rem 0;
}

.gradient-nav-item{
	background-color: red;
	background-image: linear-gradient(45deg, gray, #1D2671);
	background-size: 100%;
	background-repeat: repeat;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	-moz-background-clip: text;
	-moz-text-fill-color: transparent;
}

.gradient-text {
	background-color: red;
	background-image: linear-gradient(45deg, gray, #1D2671);
	background-size: 100%;
	background-repeat: repeat;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	-moz-background-clip: text;
	-moz-text-fill-color: transparent;
}


